@import "susy";

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.woff) format(woff);
}
@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto-Light.woff) format(woff);
}

body.ng-scope {
  background-color: #fff;
  font-family: Roboto; 
}

.nav_wrapper {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.artu_navbar {
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
}
.myNav {
  //background-color: #22A7F0;
  position: absolute;
  height: 100%;
  visibility: hidden;
}

.myNav > ul {
  padding: 0;
}

.nav_list {
  color: #FFFFFF;
  padding: 16px;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  background-color: #22A7F0;
  cursor: pointer;
}

.empty_nav {
  background-color: #22A7F0;
  height: 100%;
}

.screen_container {
  //position: absolute;
  top: 43px;
  width: 100%;
  height: 100%;
}

.screen1 {
  background-color: #22A7F0;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
  width: 100%;
  height: 100%;
}

.screen2 {
  //background-color: #3498DB;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
  width: 100%;
  height: 100%;
}

.screen3 {
  background-color: #2574A9;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
  width: 100%;
  height: 100%;  
}
.mask_about_me {
  position: absolute;
  background-color: #1BBC9B;
}

.mask_technolgy_stack {
  position: absolute;
  background-color: #16A086;
}

.centerContent > div {
  width: 250px;
  position: relative;
  text-align: center;
  font-family: RobotoLight;
}
.centerContent > div.whatIdo {
  text-align: end;
  width: 220px;
}

.myName {
  font-size: 30px;
}

.logos {
  width: 150px;
  height: 161px;
  position: absolute;
  float: left;
  margin: 35px;
  visibility: hidden;
}

.js_logo {
  background: url('../images/js_logo.svg');
}
.bb_logo {
  background: url('../images/bb_logo.svg');
}
.boostrap_logo{
  background: url('../images/boostrap_logo.png');
  background-repeat: round;
}
.angular_logo{
  background: url('../images/angular_logo.svg');
  background-size: cover;
}
.css3_logo {
  background: url('../images/css3_logo.svg');
  background-size: cover;
  background-position: 0px;
  background-position-x: 0px;
  background-position-y: -50px;
}
.html5_logo {
  background: url('../images/html5_logo.svg');
  background-size: cover;
  background-position: 0px;
  background-position-x: 0px;
  background-position-y: -50px;
}
.grunt_logo {
  background: url("../images/grunt_logo.png");
  background-size: cover;
  height: 145px;
}
.centerContent {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.circle-icons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin-top: 10px;
}
.circle-icons > div {
  border: 1px solid #16A086;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
  overflow: hidden;
  cursor: pointer;
}
.container1 {
  perspective: 250px;
  perspective-origin: 50% 80%;
}
.child1 {
  transform-origin: 50% 50% 50%;
  transform: perspective(0)
                  translate3d(50px, 40px, 80px)
                  scale3d(1, 2, 0)
                  rotate3d(0, 1, 0, 45deg);
  transform-style: preserve-3d;
}
.paint-ball-container > div {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: scale(60);
    opacity: 0.3;
    top: 50%;
    left: 50%;
}
.orange {
  background-color: #FF9800;
}
.blue {
  background-color: #03A9F4;
}
.yellow {
  background-color: #FFEB3B;
}
.green {
  background-color: #64DD17
}
.red {
  background-color: #f44336;
}
.cyan {
  background-color: #00BCD4;
}