<div class="artu_navbar">
    <div class="appName">
      <span>a</span>
      <span>r</span>
      <span>u</span>
      <span>n</span>
      <span>t</span>
      <span>u</span>
      <span>m</span>
      <span>m</span>
      <span>a</span>
      <span>l</span>
      <span>a</span>
    </div>
</div>

<!--
<div class="artu_maincontent">
  <svg id="paperPlane" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet">
    <path d="M 0 100 L 300 100 L 200 300 z" fill="white" stroke="black" stroke-width="3"></path>
  </svg>
</div -->
